@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@theme {
    --color-primary-blue: #1E3A8A;
    --color-primary-orange: #F39615;
    --color-accent-blue: #2563EB;

    --font-montserrat: "Montserrat", system-ui, sans-serif;
}

.background-h1 {
  background-color: #F39615;
  color: white;
  padding-inline: 1.25rem;
  font-weight: bold;
  display: inline-block;
}

.background-h1-blue {
  background-color: #1E3A8A;
  color: white;
  padding-inline: 1.25rem;
  font-weight: bold;
  display: inline-block;
}

html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
    };