@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@theme {
    --color-primary-blue: #1E3A8A;
    --color-primary-orange: #F39615;
    --color-accent-blue: #2563EB;

    --color-background-fade: linear-gradient(45deg, #F9FAFC 0%, #EAEFF6 100%);

    --font-montserrat: "Montserrat", system-ui, sans-serif;
}

html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	};