---
import Layout from "../layouts/Layout.astro";
import AboutUs from "../sections/AboutUs.astro";
import Contact from "../sections/Contact.astro";
import Hero from "../sections/Hero.astro";
import LogoSliderSection from "../sections/LogoSliderSection.astro";
import Opinions from "../sections/Opinions.astro";
import OurJobs from "../sections/OurJobs.astro";
import Services from "../sections/Services.astro";
import Solution from "../sections/Solution.astro";
---

<Layout>
    <main>
        <Hero />
        <AboutUs />
        <LogoSliderSection />
        <Solution />
        <Services />
        <OurJobs />
        <Opinions />
        <Contact />
    </main>
    <script>
        import { initFlowbite } from "flowbite";
        initFlowbite;
    </script>
</Layout>

<script>
    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                entry.target.classList.add("opacity-100", "translate-y-0");
                entry.target.classList.remove("opacity-0", "translate-y-10");
            }
        });
    });

    const observer2 = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                entry.target.classList.add("opacity-100", "translate-x-0");
                entry.target.classList.remove("opacity-0", "translate-x-20");
            }
        });
    });

    document.querySelectorAll(".reveal").forEach((el) => observer.observe(el));
    document
        .querySelectorAll(".reveal-2")
        .forEach((el) => observer2.observe(el));
</script>
