---
import { string } from "astro:schema";

export interface Props {
    img: string;
    text: string;
}

const { img, text } = Astro.props
---

<article class="bg-white rounded-xl shadow-lg overflow-hidden">
        <img src={img} alt="Trabajo 1" class="w-full h-48 object-cover">
        <div class="p-6">
          <p class="text-gray-600">{text}</p>
        </div>
      </article>