<article class="pt-10 space-y-15 md:space-y-20">
  <div class="flex justify-center">
    <h1 class="background-h1-blue">Confían en nosotros</h1>
  </div>
  <div class="mask">
    <div class="flex gap-8 md:gap-15 logo-slider">
      <!-- Originales -->
      <img src="/assets/logos-collaborators/eurosevilla.png" loading="lazy" alt="" />
      <img src="/assets/logos-collaborators/agencia-tributaria.png" loading="lazy" alt="" />
      <img src="/assets/logos-collaborators/demetrio.jpg" loading="lazy" alt="" />
      <img src="/assets/logos-collaborators/gohegal.png" loading="lazy" alt="" />
      <img src="/assets/logos-collaborators/ralarsa.png" loading="lazy" alt="" />
      <img src="/assets/logos-collaborators/construcciones-la-estrella.png" loading="lazy" alt="" />

      <!-- Duplicados -->
      <img src="/assets/logos-collaborators/eurosevilla.png" loading="lazy" alt="" />
      <img src="/assets/logos-collaborators/agencia-tributaria.png" loading="lazy" alt="" />
      <img src="/assets/logos-collaborators/demetrio.jpg" loading="lazy" alt="" />
      <img src="/assets/logos-collaborators/gohegal.png" loading="lazy" alt="" />
      <img src="/assets/logos-collaborators/ralarsa.png" loading="lazy" alt="" />
      <img src="/assets/logos-collaborators/construcciones-la-estrella.png" loading="lazy" alt="" />
    </div>
  </div>
</article>

<style>
.mask {
  overflow: hidden;
  width: 100%;
  mask-image: linear-gradient(90deg, transparent, #fff 5%, #fff 95%, transparent);
}

.logo-slider {
  display: flex;
  flex-wrap: nowrap;
  animation: slider 12s linear infinite;
}

.logo-slider img {
  flex: 0 0 auto;
  height: 80px;   
  width: auto;
  object-fit: contain;
  transition: 0.5s;
}

@media (min-width: 1100px) {
  img:not(:hover) {
    filter: grayscale(100%);
  }
  .logo-slider:hover {
    animation-play-state: paused;
  }
}

@keyframes slider {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}


@media (max-width: 1100px) {
  .logo-slider img {
    height: 50px;
  }
  .logo-slider {
    animation: slider 10s linear infinite; /* más rápido */
    gap: 1.5rem;
  }
  @keyframes slider {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
}

@media (max-width: 480px) {
  .logo-slider img {
    height: 40px;
  }
  .logo-slider {
    animation: slider 10s linear infinite; /* aún más rápido en móviles */
    gap: 1.5rem;
  }
  @keyframes slider {
  0% { transform: translateX(0); }
  100% { transform: translateX(-200%); }
}
}
</style>
