---
import MailIcon from "../icons/MailIcon.astro"
import PhoneIcon from "../icons/PhoneIcon.astro"
---

<header class="bg-primary-orange w-full">
    <div class="flex flex-col md:flex-row p-2 gap-3 md:gap-10 justify-center items-center">
        <div class="flex justify-center items-center gap-3">
            <PhoneIcon></PhoneIcon>
            <div class="text-primary-blue">
                <p class="font-bold">674 77 82 85</p>
            </div>
        </div>
        <div class="flex justify-center items-center gap-3">
            <MailIcon></MailIcon>
            <div class="text-primary-blue">
                <p class="font-bold">danielgomezbenitez29@gmail.com</p>
            </div>
        </div>
    </div>
</header>