<main class=" hero-full pt-10 px-5 md:p-0 bg-background-fade">
    <div class="lg:grid lg:grid-cols-2 flex flex-col justify-center bg-background-fade w-full max-w-7xl mx-auto pt-10 sm:px-10 lg:p-0 items-center gap-y-10">
        <div class="">
                <h1 class="font-bold">Expertos en energía, comprometidos contigo</h1>
                <h1 class="bg-primary-orange text-white font-bold inline-block px-5">y con tu seguridad.</h1>
                <p class="pt-10">Instalaciones, reparaciones y mantenimiento eléctrico rápido, limpio y con garantía. Tú solo disfruta de la tranquilidad.</p>
                <button class="btn bg-accent-blue rounded-xl mt-5 p-3 text-white font-semibold">Solicita presupuesto -></button>
        </div>
        <div class="flex items-end justify-end h-full">
            <img src="/src/assets/jesus_transparente.png" class=" object-contain max-h-[82vh] 2xl:max-h-full" alt="">
        </div>
    </div>
</main>

<style>
    .hero-full {
    }

</style>