<section id="opiniones" class="bg-[url(/assets/backgrounds/fondo-opiniones.webp)] bg-black/60 bg-blend-darken bg-center bg-no-repeat bg-cover p-5 md:p-10 py-15 md:py-20 scroll-m-25">
    <div class="container mx-auto">
        <div class="flex flex-col gap-y-20">
            <div class="flex justify-center">
                <h1 class="background-h1">Opiniones de nuestros clientes</h1>
            </div>
                <div class="reviews-wrapper">
                    <div
                        class="elfsight-app-f0b2494a-91a4-470d-bbca-ebc481163931 px-4"
                        data-elfsight-app-lazy
                    >
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Elfsight Google Reviews | Untitled Google Reviews -->
<script src="https://elfsightcdn.com/platform.js" async></script>

<style>
  .reviews-wrapper {
  overflow-x: hidden;
}

.    {
  padding: 0 24px;
}
</style>
