---
import JobComponent from "../components/JobComponent.astro";

const JOBS = [
    {
        img:"/src/assets/ourJobs/trabajo-president.jpeg",
        text:"Instalación eléctrica integral con acometida nueva y optimizada para máxima seguridad y rendimiento. Entubado y cableado con acabado profesional en todo el local. Cuadro eléctrico completamente equipado y preparado para futuras ampliaciones. Iluminación moderna y eficiente que realza el espacio y reduce el consumo."
    },
    {
        img:"/src/assets/ourJobs/trabajo-demetrio.jpeg",
        text:"l.kasdjvhekwrjvhwerjkvejkhwejkvbwhjkwj"
    }
]
---

<section id="nuestros-trabajos" class="relative min-h-screen overflow-hidden">

  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold text-center mb-12">Nuestros Proyectos</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <!-- Cada trabajo -->
      <article class="bg-white rounded-xl shadow-lg overflow-hidden">
        <img src="/ruta/a/imagen1.jpg" alt="Trabajo 1" class="w-full h-48 object-cover">
        <div class="p-6">
          <h3 class="text-xl font-semibold mb-2">Instalación de paneles eléctricos</h3>
          <p class="text-gray-600">Descripción breve del trabajo, tipo de instalación y resultados.</p>
        </div>
      </article>
    </div>
  </div>
</section>