---
import CertificateIcon from "../icons/CertificateIcon.astro";
import HandshakeIcon from "../icons/HandshakeIcon.astro";
import WarrantyIcon from "../icons/WarrantyIcon.astro";
---

<section id="soluciones" class="p-5 md:p-10 py-15 md:pt-25 scroll-m-25 background-fade">
    <div class="container mx-auto space-y-10 lg:space-y-5">
        <div>
            <h1 class="background-h1">Soluciones a medida</h1>
        </div>
        <div class="lg:grid lg:grid-cols-2">
            <!--Columna de texto -->
            <div class="flex flex-col gap-5 md:justify-center">
                    <p>
                        En <b>Instalaciones Eléctricas Jesús Gómez</b>,
                        diagnosticamos y resolvemos cualquier fallo eléctrico de
                        forma <b>rápida, segura y eficaz.</b>
                    </p>
                    <p>
                        Nuestros técnicos analizan tu instalación para detectar
                        el origen del problema y ofrecerte la <b
                            >mejor solución adaptada a tus necesidades.</b
                        >
                    </p>
                    <p>
                        Ya sea una reparación puntual de electricidad, una
                        revisión completa o una renovación de tu sistema
                        eléctrico, nos encargamos de todo para que <b
                            >vuelvas a tener energía sin preocupaciones.</b
                        >
                    </p>
                    <p>
                        <b>Confía en profesionales cualificados</b> y <b
                            >disfruta de la tranquilidad</b
                        > de saber que tu instalación está en <b>buenas manos</b
                        > ⚡.
                    </p>
            </div>

            <!--Columna de imagen -->
            <div class="flex justify-center pt-10 lg:pt-0 overflow-hidden">
                <img
                    src="/src/assets/jesus_solucion.jpg"
                    loading="lazy"
                    class="w-auto lg:h-96 reveal-2 opacity-0 translate-x-20 transition-all duration-1000 rounded-2xl"
                    alt=""
                />
            </div>
        </div>

        <div class="flex flex-col pt-15 md:pt-20 gap-y-20">
            <div class="flex justify-center">
                <h1 class="background-h1-blue">Beneficios de elegirnos</h1>
            </div>
            <div
                class="flex flex-col md:flex-row gap-y-20 gap-x-10 text-center justify-between"
            >
                <div
                    class="flex flex-col justify-center items-center gap-y-3 lg:w-100 reveal opacity-0 translate-y-10 transition-all duration-700 md:delay-200"
                >
                    <CertificateIcon />
                    <span class="font-bold"
                        >Profesionales certificados y de confianza</span
                    >
                    <p>
                        Contamos con electricistas autorizados que garantizan un
                        trabajo seguro, legal y conforme a la normativa vigente.
                    </p>
                </div>

                <div
                    class="flex flex-col justify-center items-center gap-y-3 lg:w-100 reveal opacity-0 translate-y-10 transition-all duration-700 md:delay-400"
                >
                    <HandshakeIcon />
                    <span class="font-bold"
                        >Compromiso y atención personalizada</span
                    >
                    <p>
                        En instalaciones Jesús Gómez cuidamos la puntualidad y
                        cada detalle ofreciendo a nuestros clientes un trato
                        personal.
                    </p>
                </div>

                <div
                    class="flex flex-col justify-center items-center gap-y-3 lg:w-100 reveal opacity-0 translate-y-10 transition-all duration-700 md:delay-600"
                >
                    <WarrantyIcon />
                    <span class="font-bold">Garantía y respaldo total</span>
                    <p>
                        Nuestras instalaciones cumplen con todas las normativas
                        y cuentan con garantía de funcionamiento y seguridad.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .img-solution {
        height: 70vh;
        width: 20vw;
    }
</style>
