---
import Header from "../sections/Header.astro";
import HeaderSecondary from "../sections/HeaderSecondary.astro";
import Hero from "../sections/Hero.astro";
import AboutUs from "../sections/AboutUs.astro";
import Solution from "../sections/Solution.astro";
import Services from "../sections/Services.astro";
import OurJobs from "../sections/OurJobs.astro";
import Opinions from "../sections/Opinions.astro";
import Contact from "../sections/Contact.astro";
import Footer from "../sections/Footer.astro";
import WhatsappIcon from "../icons/WhatsappIcon.astro";
---

<!doctype html>
<html lang="es" class="font-montserrat scroll-smoot">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" sizes="32x32" href="/src/assets/logo_jesus_web.png"/>

		<meta
			name="description"
			content="Electricista profesional en Sevilla ofreciendo servicios de instalación, reparación y mantenimiento eléctrico en toda Andalucía. Presupuesto rápido y garantía de calidad."
		/>
		<meta
			name="keywords"
			content="electricista Sevilla, servicios eléctricos Andalucía, instalación eléctrica, reparación eléctrica, mantenimiento eléctrico, urgencias eléctricas, presupuesto electricista, electricista profesional"
		/>
		<meta name="author" content="daaniigomez29" />
		<meta name="robots" content="index, follow" />

		<meta
			property="og:title"
			content="Instalaciones Eléctricas Jesús Gómez"
		/>
		<meta
			property="og:description"
			content="Electricista profesional en Sevilla ofreciendo servicios de instalación, reparación y mantenimiento eléctrico en toda Andalucía. Presupuesto rápido y garantía de calidad."
		/>
		<meta property="og:image" content="https://ejemplo.com/imagen.jpg" />
		<meta property="og:url" content="https://ejemplo.com" />

		<title>Instalaciones Eléctricas Jesús Gómez</title>
	</head>
	<body>
		<!--Whatsapp button-->
		<a
			href="https://wa.me/691886370"
			target="_blank"
			class="group hover:scale-110 transition duration-300 rounded-full fixed bottom-0 end-0 m-4 whatsapp-icon flex justify-center items-center"
			style="z-index: 1001;"
		>
			<WhatsappIcon class="" fill="#FFFF" width="30" height="30" />
		</a>

		<div class="min-h-full">
			<HeaderSecondary />
			<Header />
			<main>
				<Hero />
				<AboutUs />
				<Solution />
				<Services />
				<OurJobs />
				<Opinions />
				<Contact />
			</main>
			<Footer />
		</div>
			<script type="module" src="/src/main.js"></script>
	</body>
</html>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('opacity-100', 'translate-y-0');
        entry.target.classList.remove('opacity-0', 'translate-y-10');
      }
    });
  });

  const observer2 = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('opacity-100', 'translate-x-0');
        entry.target.classList.remove('opacity-0', 'translate-x-20');
      }
    });
  });

  document.querySelectorAll('.reveal').forEach(el => observer.observe(el));
  document.querySelectorAll('.reveal-2').forEach(el => observer2.observe(el));
</script>

<style is:global>
	@import "../styles/global.css";

	/* Encabezados base (móvil) */
	h1 {
		font-size: 1.8rem;
	} /* 28.8px */
	h2 {
		font-size: 1.5rem;
	} /* 24px */
	p {
		font-size: 0.875rem;
	} /* 14px */
	span {
		font-size: 0.875rem;
	} /* 14px */
	li {
		font-size: 0.875rem;
	} /* 14px */

	/* Tablet / PC */
	@media (min-width: 768px) {
		h1 {
			font-size: 2.5rem;
		} /* 40px */
		h2 {
			font-size: 2rem;
		} /* 32px */
		p {
			font-size: 0.875rem;
		} /* 14px */
		span {
			font-size: 0.875rem;
		} /* 14px */
		li {
			font-size: 0.875rem;
		} /* 14px */
	}

	/* Pantallas grandes */
	@media (min-width: 1440px) {
		h1 {
			font-size: 2.5rem;
		} /* 40px */
		h2 {
			font-size: 2.25rem;
		} /* 36px */
		p {
			font-size: 1rem;
		} /* 16px */
		span {
			font-size: 1rem;
		} /* 16px */
		li {
			font-size: 1rem;
		} /* 16px */
	}

	h6 {
		font-weight: bold;
	}

	.whatsapp-icon {
		height: 70px;
		width: 70px;
		background: #25d366;
		color: white;
		box-shadow: 3px 3px 3px black;
		min-width: 50px;
		min-height: 50px;
		max-width: 80px;
		max-height: 80px;
	}

	.background-fade {
		background: linear-gradient(45deg, #F9FAFC 0%, #EAEFF6 100%);
	}
</style>
