---
import Header from "../sections/Header.astro";
import HeaderSecondary from "../sections/HeaderSecondary.astro";
import Hero from "../sections/Hero.astro";
import AboutUs from "../sections/AboutUs.astro";
import Solution from "../sections/Solution.astro";
import Services from "../sections/Services.astro";
import OurJobs from "../sections/OurJobs.astro";
import Opinions from "../sections/Opinions.astro";
import Contact from "../sections/Contact.astro";
import Footer from "../sections/Footer.astro";
import WhatsappIcon from "../icons/WhatsappIcon.astro";
import LogoSliderSection from "../sections/LogoSliderSection.astro";
---

<!doctype html>
<html lang="es" class="font-montserrat scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico">
		<!--
		<link
			rel="icon"
			type="image/png"
			sizes="64x64"
			href="/assets/logos/logo_jesus_web.png"
		/>
		-->

		<title>Instalaciones Eléctricas Jesús Gómez</title>

		<meta
			name="description"
			content="Electricista profesional en Sevilla ofreciendo servicios de instalación, reparación y mantenimiento eléctrico en toda Andalucía. Presupuesto rápido y garantía de calidad."
		/>
		<meta
			name="keywords"
			content="electricista Sevilla, servicios eléctricos Andalucía, instalación eléctrica, reparación eléctrica, mantenimiento eléctrico, urgencias eléctricas, presupuesto electricista, electricista profesional"
		/>
		<meta name="author" content="daaniigomez29" />
		<meta name="robots" content="index, follow" />

		<meta
			property="og:title"
			content="Instalaciones Eléctricas Jesús Gómez"
		/>
		<meta
			property="og:description"
			content="Electricista profesional en Sevilla ofreciendo servicios de instalación, reparación y mantenimiento eléctrico en toda Andalucía. Presupuesto rápido y garantía de calidad."
		/>
		<meta
			property="og:image"
			content="/assets/logos/logo_jesus_completo.webp"
		/>
		<meta property="og:url" content="https://instalacioneselectricasjesusgomez.es/assets/logos/logo_jesus_completo.webp" />

		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Electrician",
				"name": "Instalaciones Eléctricas Jesús Gómez",
				"url": "https://instalacioneselectricasjesusgomez.es",
				"logo": "https://instalacioneselectricasjesusgomez.es/assets/logos/logo_jesus_trans.webp",
				"sameAs": [
					"https://www.facebook.com/jesus.gomez.94214508/",
					"https://www.instagram.com/instalaciones_electricas_jesus/"
				],
				"description": "Empresa especializada en instalaciones eléctricas, mantenimientos y servicios eléctricos."
			}
		</script>
	</head>
	<body>
		<!--Whatsapp button-->
		<a
			href="https://wa.me/691886370"
			target="_blank"
			class="group hover:scale-110 transition duration-300 rounded-full fixed bottom-0 end-0 m-4 whatsapp-icon flex justify-center items-center"
			style="z-index: 1001;"
		>
			<WhatsappIcon class="" fill="#FFFF" width="30" height="30" />
		</a>

		<div class="min-h-full">
			<HeaderSecondary />
			<Header />
			<slot />
			<Footer />
		</div>
	</body>
</html>

<style is:global>
	@import "../styles/global.css";

	/* Encabezados base (móvil) */
	h1 {
		font-size: 1.8rem;
	} /* 28.8px */
	h2 {
		font-size: 1.5rem;
	} /* 24px */
	p {
		font-size: 0.875rem;
	} /* 14px */
	span {
		font-size: 0.875rem;
	} /* 14px */
	li {
		font-size: 0.875rem;
	} /* 14px */

	/* Tablet / PC */
	@media (min-width: 768px) {
		h1 {
			font-size: 2.5rem;
		} /* 40px */
		h2 {
			font-size: 2rem;
		} /* 32px */
		p {
			font-size: 0.875rem;
		} /* 14px */
		span {
			font-size: 0.875rem;
		} /* 14px */
		li {
			font-size: 0.875rem;
		} /* 14px */
	}

	/* Pantallas grandes */
	@media (min-width: 1440px) {
		h1 {
			font-size: 2.5rem;
		} /* 40px */
		h2 {
			font-size: 2.25rem;
		} /* 36px */
		p {
			font-size: 1rem;
		} /* 16px */
		span {
			font-size: 1rem;
		} /* 16px */
		li {
			font-size: 1rem;
		} /* 16px */
	}

	h6 {
		font-weight: bold;
	}

	.whatsapp-icon {
		height: 70px;
		width: 70px;
		background: #25d366;
		color: white;
		box-shadow: 3px 3px 3px black;
		min-width: 50px;
		min-height: 50px;
		max-width: 80px;
		max-height: 80px;
	}

	.background-fade {
		background: linear-gradient(45deg, #f9fafc 0%, #eaeff6 100%);
	}
</style>
